---
import { Image } from 'astro:assets'

export interface Props {
  alt: string
  imgSrc: ImageMetadata
  url?: string
  class?: string
}

const { alt, imgSrc, url, class: className } = Astro.props
---

{
  url ? (
    <a href={url}>
      <Image class={className} src={imgSrc} alt={alt} />
    </a>
  ) : (
    <Image class={className} src={imgSrc} alt={alt} />
  )
}
